{% extends "layout.html" %}

        {% block body %}
        <h2>{{ book.title }}</h2>
        by {{ book.author }}<br />
        {{ book.year }}<br />
        isbn {{ book.isbn }}<br />
        <h2>{{ book.rating }}</h2>
        {% if not is_reviewed and user %}
            <form action="{{ url_for('add_review') }}" method="POST">
                <input type="text" name="rating"><br />
                <textarea rows="10" cols="45" name="review"></textarea><br />
                <input type="submit" value="Submit">
                <input type="hidden" name="book" value="{{ book.id }}">
            </form>
        {% endif %}
        
        {% if reviews %}
            {% for review in reviews %}
                <h2>User: {{ review.user_id }}</h2>
                Rate: {{ review.rating }}<br />
                Review: {{ review.review }}
            {% endfor %}
        {% endif %}
        
        {% endblock %}